@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}